---
title: Team
---
  <div class="team">
    <h1 class="text-center">Our team</h1>
    <ul class="list-inline text-center">
    <% ["joanna", "kyle", "viola"].each do |name| %>
      <li>
        <%= image_tag "#{name}.png", class: "img-circle team-avatar" %>
        <h3><%= name.capitalize %></h3>
      </li>
      <% end %>
    </ul>
  </div>
